<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, 
                                      Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, 
                                      Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, 
                                      Microsoft.Practices.Unity.Configuration, Version=2.1.505.0,         
                                      Culture=neutral" />
    <section name="nhibernate.configuration" type="Nsk.Data.Hibernate.Fluent.Configuration.NHConfigurationSection, Nsk.Data.Hibernate.Fluent" />
  </configSections>
  <nhibernate.configuration connectionStringName="NorthwindDomain" databaseType="MsSql2008" databaseSchema="dbo" enableCache="false" cacheProvider="NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache" />
  <validation>
    <type assemblyName="Nsk.Domain, Version=1.0.3666.20725, Culture=neutral, PublicKeyToken=null" name="Nsk.Domain.Model.Customer">
      <ruleset name="CanPlaceOrders">
        <properties>
          <property name="AddressInfo">
            <validator negated="false" messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Not Null Validator" />
          </property>
        </properties>
      </ruleset>
      <ruleset name="IsValidForRegistration">
        <properties>
          <property name="CompanyName">
            <validator negated="false" messageTemplate="The company name cannot be null" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Not Null Validator" />
            <validator lowerBound="6" lowerBoundType="Ignore" upperBound="40" upperBoundType="Inclusive" negated="false" messageTemplate="Company name cannot be longer that 40 characters" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="String Length Validator" />
          </property>
          <property name="Id">
            <validator negated="false" messageTemplate="The customer ID cannot be null" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Not Null Validator" />
            <validator lowerBound="5" lowerBoundType="Ignore" upperBound="5" upperBoundType="Inclusive" negated="false" messageTemplate="The customer ID must have a length of 5 digits" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="String Length Validator" />
          </property>
          <property name="PhoneNumber">
            <validator negated="false" messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Not Null Validator" />
            <validator lowerBound="0" lowerBoundType="Ignore" upperBound="24" upperBoundType="Inclusive" negated="false" messageTemplate="Phone number cannot be longer that 24 characters" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="String Length Validator" />
          </property>
          <property name="FaxNumber">
            <validator lowerBound="0" lowerBoundType="Ignore" upperBound="24" upperBoundType="Inclusive" negated="false" messageTemplate="Fax name cannot be longer that 24 characters" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="String Length Validator" />
          </property>
        </properties>
      </ruleset>
    </type>
  </validation>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="connection.driver_class">
        NHibernate.Driver.SqlClientDriver
      </property>
      <property name="dialect">
        NHibernate.Dialect.MsSql2000Dialect
      </property>
      <property name="connection.connection_string">
        Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True
      </property>
      <property name="show_sql">false</property>
      <mapping assembly="Nsk.Data.Hibernate" />
    </session-factory>
  </hibernate-configuration>
  <unity>
    <containers>
      <container>
        <types>

          <!-- EF POCO Repositories -->
          <type type="Nsk.Domain.ReadModel.IReadModelFacade, Nsk.Domain.ReadModel" mapTo="Nsk.Domain.ReadModel.NskReadModelFacadeImpl, Nsk.Domain.ReadModel" />
          <type type="Nsk.Domain.Repositories.IRepository`1, Nsk.Domain" mapTo="Nsk.Data.EF.Poco.Repositories.Repository`1, Nsk.Data.EF.Poco" />
          <type type="Nsk.Domain.Repositories.ICustomerRepository, Nsk.Domain" mapTo="Nsk.Data.EF.Poco.Repositories.CustomerRepository, Nsk.Data.EF.Poco" />
          <type type="Nsk.Domain.Repositories.IEmployeeRepository, Nsk.Domain" mapTo="Nsk.Data.EF.Poco.Repositories.EmployeeRepository, Nsk.Data.EF.Poco" />
          <type type="Nsk.Domain.Repositories.IOrderRepository, Nsk.Domain" mapTo="Nsk.Data.EF.Poco.Repositories.OrderRepository, Nsk.Data.EF.Poco" />
          <type type="Nsk.Domain.Repositories.IProductRepository, Nsk.Domain" mapTo="Nsk.Data.EF.Poco.Repositories.ProductRepository, Nsk.Data.EF.Poco" />
          
          
          <!-- EF Code First Repositories -->
          <!--<type type="Nsk.Domain.ReadModel.IReadModelFacade, Nsk.Domain.ReadModel" mapTo="Nsk.Data.ReadModel.EF.CodeFirst.NskReadModelFacadeImpl, Nsk.Data.ReadModel.EF.CodeFirst" />
					<type type="Nsk.Domain.Repositories.IRepository`1, Nsk.Domain" mapTo="Nsk.Data.EF.CodeFirst.Repositories.Repository`1, Nsk.Data.EF.CodeFirst" />
					<type type="Nsk.Domain.Repositories.ICustomerRepository, Nsk.Domain" mapTo="Nsk.Data.EF.CodeFirst.Repositories.CustomerRepository, Nsk.Data.EF.CodeFirst" />
					<type type="Nsk.Domain.Repositories.IEmployeeRepository, Nsk.Domain" mapTo="Nsk.Data.EF.CodeFirst.Repositories.EmployeeRepository, Nsk.Data.EF.CodeFirst" />
					<type type="Nsk.Domain.Repositories.IOrderRepository, Nsk.Domain" mapTo="Nsk.Data.EF.CodeFirst.Repositories.OrderRepository, Nsk.Data.EF.CodeFirst" />
					<type type="Nsk.Domain.Repositories.IProductRepository, Nsk.Domain" mapTo="Nsk.Data.EF.CodeFirst.Repositories.ProductRepository, Nsk.Data.EF.CodeFirst" />-->
	
          <type type="Nsk.Domain.Services.ICatalogServices, Nsk.Domain.Services" mapTo="Nsk.Domain.Services.Impl.CatalogServices, Nsk.Domain.Services" />
          <type type="Nsk.Domain.Services.IMarketingServices, Nsk.Domain.Services" mapTo="Nsk.Domain.Services.Impl.MarketingServices, Nsk.Domain.Services" />
          <type type="Nsk.Web.OnlineStore.Smartphone.WorkerServices.Catalog.ICatalogControllerWorkerServices, Nsk.Web.OnlineStore.Smartphone" mapTo="Nsk.Web.OnlineStore.Smartphone.WorkerServices.Catalog.Impl.CatalogControllerWorkerServices, Nsk.Web.OnlineStore.Smartphone" />
          <type type="Nsk.Web.OnlineStore.Smartphone.WorkerServices.Home.IHomeControllerWorkerServices, Nsk.Web.OnlineStore.Smartphone" mapTo="Nsk.Web.OnlineStore.Smartphone.WorkerServices.Home.Impl.HomeControllerWorkerServices, Nsk.Web.OnlineStore.Smartphone" />
        </types>
      </container>
    </containers>
  </unity>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="NorthwindDomain" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="NskEntities" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="NskEntities" connectionString="metadata=res://*/Model.NskModel.csdl|res://*/Model.NskModel.ssdl|res://*/Model.NskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="NskReadModel" connectionString="metadata=res://*/NskReadModel.csdl|res://*/NskReadModel.ssdl|res://*/NskReadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <globalization uiCulture="auto" culture="auto" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>