@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<p>
    <strong>Northwind Starter Kit</strong> (NSK) is a sample application developed by <strong>Andrea Saltarello</strong> as a companion demo for both <a href="http://www.manageddesigns.it">Managed Designs</a>' courses and
    <a href="http://www.amazon.com/Microsoft-NET-Architecting-Applications-Enterprise/dp/073562609X/ref=sr_1_2?ie=UTF8&qid=1435327410&sr=8-2&keywords=andrea+saltarello"><strong>"Microsoft .NET: Architecting Applications for the Enterprise"</strong> (first edition)</a>, the book he co-authored along with Dino Esposito.
</p>
<p>
    NSK also acts as a reference for a simple implementation of the <strong>CQRS</strong> pattern: the read model is a composition of LINQ based repositories supported by a set of custom LINQ operators
    modeled after the <strong>Layered Expression Trees (LET)</strong> idiom, whereas commands are modeled as functions which implement the <strong>Transaction Script</strong> pattern.
</p>
<p>
    What NSK is not is a full fledged CQRS demo: if you're interested in such a demo, please have a look at <a href="https://github.com/mastreeno/Merp"><strong>Merp</strong></a> instead, which is the the sample Andrea Saltarello developed as the companion
    for <a href="https://www.microsoftpressstore.com/store/microsoft-.net-architecting-applications-for-the-enterprise-9780735685352"><strong>Microsoft .NET - Architecting Applications for the Enterprise (2nd edition)</strong></a>.
</p>
<p>
    The application uses the standard Northwind database as included in Microsoft SQL Server: no modifications to the database schema are required in order to install and run the starter kit.
</p>
<p>
    <img src="/_content/NskWebSiteAreasAdmin/images/Git-Icon-1788C.png" />
</p>
