@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Via Torino 51<br />
    20123 Milano (MI)<br />
    Italy<br />
    <abbr title="Phone">P:</abbr>
    +39 02 87212147
</address>

<address>
    <strong>Marketing:</strong> <a href="mailto:info@manageddesigns.it">info@manageddesigns.it</a>
</address>
