<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="/_content/NskWebSiteAreasAdmin/lib/twitter-bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="/_content/NskWebSiteAreasAdmin/lib/twitter-bootstrap/js/bootstrap.js"></script>
</body>
</html>
